*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#logo{
    width: 200px;
    height: 100px;
    margin-left: 31px;
    margin-top: 7px;
}
.top{
    display:flex;
}
#img1{
    width: 591px;
    height: 536px;
    padding-left: 65px;
    margin-top: -8px;
    margin-right: -6px;
}

#find{
    margin-top: 17px;
    background-color: orange;
    color: #fff;
    border-color: orange;
    height: 62px;
    width: 121px;
    border-radius: 5px;
    /* margin-top: 4px; */
    margin-left: -5px;
    border: none;
}
#login{
    width: 100px;
    height: 40px;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    float: right;
    margin-top: 32px;
    margin-right: 25px;
    cursor: pointer;
    
}

#login:hover{
    background-color: rgb(54, 52, 52);
}

#Signup{
    width: 100px;
    height: 40px;
    color: black;
    background-color: #fff;
    font-weight: bold;
    border: none;
    margin-left: 184px;
    float: right;
    margin-top: 34px;
    cursor:pointer;

   
}
#Signup:hover{
   
    color:orange;

}

.logoimg{
    margin-right: 221px;
}

.content{
    margin-left: 37px;
}
#para1{
    color: grey;
    font-size: 27px;
}



#formbox{
    width: 377px;
    height: 50px;
    padding-left: 18px;
    font-size: 18px;
   
    
}


#formbutton{
    width: 120px;
    background-color: orange;
    border: 3px solid orange;
    height: 55px;
    margin-left: -4px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
#formbutton:hover{
    background-color: rgb(199, 95, 15);
    border: 3px solid rgb(199, 95, 15);
}




.middlesection{
    display: flex;
    width: 1300px;
    height: 500px;
}

#image1{
    height: 420px;
    margin-top: -4px;
    width: 1318px;
    margin-left: -8px;
}    


#para2{
    color: grey;;
}

.leftside{
    width: 1000px;;
}

#image2{
    height: 586px;
    margin-top: -84px;
    width: 1312px;
    margin-left: -8px;
}

.section1 {
    display: flex;
    background-color: black;
    color: white;
    height: 451px;
    justify-content: space-between;
    margin: -4px -8px;
}

.part1 a,
.part2 a,
.part3 a {
    display: block;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}


#image5 {
    width: 236px;
    height: 410px;
}

.part1,
.part2,
.part3 {
    padding: 54px;
}


.part1 span + a,
.part2 span + a,
.part3 span + a {
    margin-top: 20px;
}

.part1 span,
.part2 span,
.part3 span {
    color: grey;
}

.inp{
    display: flex;

}

.section2{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -8px;
}
.partf1 {
    background-color: black;
    color: white;
    height: 40px;
    margin-left: -11px;
    margin-right: -9px;
    margin-top: -30px;
}

#span1 {
    color: grey;
    display: flex;
    padding-left: 56px;
    margin-top: 29px;
    padding-top: 25px;
}

.partf2{
    display: flex;
    padding-top: 12px;
    height: 75px;
}

#para5{
    padding-left: 53px;
    height: 84px;
}

#para6{
    padding-left: 736px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    height: 91px;

    
}

#image6{
    width: 143px;
    padding: left;
    height: 50px;
    padding-left: 41px;
    padding-top: 21px;
    cursor: pointer;
}

#span2{
    padding-top: 32px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#image7{
    cursor: pointer;
}
#line{
    padding-right: 7px;
    width: 100%;
    height: 3px;
    background-color: gray;
    padding-left: 10px;
    margin-left: -9px;
}